MONGO_URI=mongodb://localhost:27017/newsletter-app
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
PORT=5000
NODE_ENV=development
SALT_ROUNDS=10
CLIENT_URL=http://localhost:5173

MAILGUN_API_KEY=key-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MAILGUN_DOMAIN=sandbox674be67964294b8986ec1eab5a9af987.mailgun.org
MAILGUN_FROM=postmaster@sandbox674be67964294b8986ec1eab5a9af987.mailgun.org